.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_2{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    margin: 5% 10% 10% 10%;
    flex-basis: 56%;
}
.about-left_2{
    margin: 5% 10% 10% 10%;
    flex-basis: 56%;
}
.about-left_2 p{
    color: white;
    margin-bottom: 15px;
}
.about-left_2 h2{
    font-size: 35px;
    color: white;
    max-width: 400px;
    margin: 10px 0px;
    text-transform: uppercase;
}
.about-right_2{
    flex-basis: 40%;
    position: relative;
}
.about-img{
    width: 100%;
    border-radius: 10px;
}
.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.about h2{
    font-size: 35px;
    color: black;
    max-width: 400px;
    margin: 10px 0px;
    text-transform: uppercase;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
}

/* ------- media query ------- */

@media (max-width:800px){
    .about{
        flex-direction: column;
    }
    .about_2{
        flex-direction: column;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
    }
    .about-right{
        flex-basis: 100%;
    }
    .about-left_2{
        flex-basis: 100%;
    }
    .about-right_2{
        flex-basis: 100%;
        margin: 20px;
    }
}