.navbar {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 4px 0;
    z-index: 10;
    position: relative;
}
.navbar_container{
    display: flex;
    align-items: center;
    padding: 0 7%;
}
.navbar__logo {
    transform: scale(1);
    width: 100%;
    height: auto;
    max-width: 370px;
    max-height: 85px;
    border-bottom: none !important;
}

.navbar__logo img {
    width: 170px;
    height: 96px;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar_items {     
    display: flex;
    list-style: none;
    margin: 0 35px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition-duration: 0.7s;
}

.navbar_items:hover {
    transform: scale(1.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.menu-icon {
    display: none;
}

.about_dropdown {
    display: none;
    width: max-content;
    height: auto;
    position: absolute;
    z-index: 99;
    left: -85px;
    top: 25px;
    background: rgba(255, 255, 255, 1);
    list-style: none;
    color: black;
    letter-spacing: 0;
    line-height: 1.75em;
}

.about_dropdown li {
    padding: 0 20px;
    margin: 10px;
    transition: background-color 0.3s;

}

.about_dropdown li:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.navbar_items:hover .about_dropdown {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.about_dropdown:hover {
    display: block;
}

.show_logo {
    display: block;
}

.hide_logo {
    display: none !important;
}

@media only screen and (max-width:1440px) and (min-width:1024) {
    .navbar_items {
        letter-spacing: 0.3em;
        margin: 10px 15px;
    }
}

@media (max-width:840px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        background: rgba(255, 255, 255, 1);
        height: 110px;
    }

    .navbar__list {
        position: fixed;
        top: 110px;
        right: 0;
        bottom: 0;
        background: white;
        color: black;
        z-index: 12;
        transition: 0.5s;
        display: block;
        width: 100%;
    }

    .navbar_items {
        display: block;
        margin: 35px 40px;
        letter-spacing: 0.2em;
        font-size: 16px;
    }

    .navbar_items:hover {
        border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    }

    .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        cursor: pointer;
        z-index: 12;
        margin: 23px;
    }

    .hide-mobile-menu {
        width: 0%;
    }

    .navbar__logo {
        transform: scale(1);
        max-width: 370px;
        max-height: 96px;
        border-bottom: none !important;
    }

    .navbar__logo img {
        width: 170px;
        height: 96px;
    }
}