 /* Slider Container */
.slider-container {
  position: relative;
  max-width: 100%; /* Make sure the container is no wider than the screen */
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  height: 90vh; /* Ensure the height fits within the screen height */
  max-height: 100vh; /* Prevents overflowing vertically */
}

/* Slider */
.slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

/* Individual Slide */
.slide {
  min-width: 100%;
  position: relative;
  height: 100%; /* Ensure slide occupies full height */
}

/* Image */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fits the container without stretching */
  border-radius: 12px;
}

/* Slide Content */
.slide-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Title and Subtitle */
.slide-content h3 {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

.slide-content h1 {
  font-size: 36px;
  margin: 5px 0;
}

.slide-content p {
  font-size: 16px;
}

/* Navigation Arrows */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  /* background-color: rgba(0,0,0,0.5); */
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  caret-color: transparent;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

