.footer{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: larger;
}

.footer_right{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.footer_bar{
    position: sticky;
    width: 100%;
    height: 17vh;
    background: #000000;
    color: whitesmoke;
    padding: 4px 0;
    left: 0;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}
.footer_bar__logo{
    font-size: 20px !important;
}
.footer_bar__list{
    text-align: center;
    display: contents;
}
.footer_bar_items{
    display: inline-block;
    list-style: none;
    margin: 5px 30px;
    font-size: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}
.footer_bar__icons{
    display: flex;
}
.footer_bar_icon{
    margin: 0 15px;
    list-style: none;
    font-size: 19px;
    cursor: pointer;

}
/* ------- media query ------- */

@media (max-width:600px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}

.copy-right-wrapper {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 31px;
    display: flex;
}

.main-headar-right-button {
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    display: flex;
}
.copy-right {
    width: 100%;
    height: auto;
}

.main-headar-icons {
    background-color: #0000000d;
    background-image: url(../../assets/icons8-facebook.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transition: background-color .2s cubic-bezier(.55,.055,.675,.19);
}
.main-headar-icons:hover {
    transform: scale(1.2);
    background-image: url(/src/assets/icons8-facebook.svg);
    transition: transform 0.15s ease-in-out;
}
.main-headar-icons._2 {
    background-image: url("../../assets/icons8-instagram.svg");
    border-radius: 50px;
}
.main-headar-icons._2:hover {
    transform: scale(1.2);
    background-image: url(/src/assets/icons8-instagram.svg);
    transition: transform 0.15s ease-in-out;
}
.main-headar-icons._3 {
    background-image: url("../../assets/icons8-youtube.svg");
    border-radius: 50px;
}
.main-headar-icons._3:hover {
    transform: scale(1.2);
    background-image: url(/src/assets/icons8-youtube.svg);
    transition: transform 0.15s ease-in-out;
}
.copy-text-right {
    text-align: left;
    letter-spacing: .5px;
    font-family: Aspekta VF, sans-serif;
    font-size: 12px;
    font-weight: 400;
}